# Copyright (c) IBM Corp. 2019-2026
# "SPDX-License-Identifier: MPL-2.0"

# Copyright (c) HashiCorp, Inc. 2019-2026
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
